body {
    font-family: Arial, sans-serif;
    background-color: #6F6E6C;
    color: #fff;
    margin: 20;
    padding: 0;
    height:100vh;

}

header {
    background-color:#6F6E6C;
    color: #fff;
    border: 3px solid #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 30px;
    width: auto;
}

.logos {
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; 
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    font-size: bold;
    text-decoration: none;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Profile {
    text-align: center;
    margin-bottom: 2em;
    background-color: #FFEE58;
}

.title {
    text-align: center;
}

.about-content {
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
}

.project {
    background-color: #6F6E6C;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.image{
    max-width: 100%;
    height: auto;
}






